// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

  .hero-home{
    height: 110%;
  }

/*  .background-parallax{
    background-attachment: unset!important;
    background-size: cover;
  }*/
}

