$black-text:#211915;
$purple: #63507C;
$coffee: #B99957;
$graySociall:#9B9897;

$fs-9: 8px;
$fs-11: 9px;
$fs-12: 9px;
$fs-13: 11px;
$fs-14: 12px;
$fs-15: 13px;
$fs-16: 14px;
$fs-17: 15px;
$fs-18: 16px;
$fs-19: 17px;
$fs-20: 18px;
$fs-25: 23px;
$fs-60: 55px;
$fs-88: 62px;
$fs-114: 92px;



$time-03s:0.3s;

